<button mat-icon-button class="new-button"
        matTooltip="Agregar un nuevo empleado"
        routerLink="/departments">
  <mat-icon aria-label="Add new Department">reply</mat-icon>
</button>

<div>
  <span class="mat-title">{{titulo}}</span>
</div>
<mat-divider></mat-divider>

<form name="editForm" role="form" novalidate class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">

  <p>
    <mat-form-field appearance="outline" style="width: 29%">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Roberto" formControlName="name">
      <mat-error *ngIf="ctrls.name.invalid &&(ctrls.name.dirty || (ctrls.name.errors))">
        Nombre Requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin-left: 13px; width: 20%">
      <mat-label>Edad</mat-label>
      <input matInput type="number" min="0" max="99"
             placeholder="35" formControlName="age">
      <mat-error *ngIf="ctrls.age.invalid && (ctrls.age.dirty || (ctrls.age.errors))">
        Edad es Requerida
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="margin-right: 13px; width: 25%">
      <mat-label>Posición</mat-label>
      <input matInput placeholder="Director" formControlName="position">
      <mat-error *ngIf="ctrls.position.invalid && (ctrls.position.dirty || (ctrls.position.errors))">
        La posición es Requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 24%">
      <mat-label>Departamento</mat-label>
      <mat-select [compareWith]="compareById" formControlName="departmentSelected" (selectionChange)="selectDepartment()">
        <mat-option *ngFor="let dept of departmentList" [value]="dept">
          {{dept.name}}
        </mat-option>
        <mat-option value="new">Nuevo Departamento</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field *ngIf="newDepartment" appearance="outline"
                    style="width: 50%">
      <mat-label>Nombre Departamento</mat-label>
      <input matInput required placeholder="Asistencia Medica" formControlName="departmentName">
      <mat-error *ngIf="ctrls.departmentName.invalid && (ctrls.departmentName.dirty || (ctrls.departmentName.errors))">
        El nombre del departamento es Requerido
      </mat-error>
    </mat-form-field>
  </p>

  <div class="form-group" style="display: inline-flex">
    <div style="margin-right: 25px;">
      <button mat-raised-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
              class="save-button">Guardar</button>
    </div>

    <div>
      <button mat-raised-button type="button" routerLink="/departments"
              class="cancel-button">Cancelar</button>
    </div>

  </div>

</form>
